$custom-primary: #28487f;
$custom-success: #24763e;
$custom-info: #7a96c7;
$custom-warning: #ca8217;
$custom-danger: #c12020;
$custom-light: #f5f6f8;
$custom-secondary: #6d6e6f;
$custom-dark: #38383a;
$custom-white: #ffffff;
$custom-black: #1d1d1f;
$custom-gray: #8e8e93;
$custom-light-bg: #e5e5e5;